
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap');


$main-font:'Poppins', arial, sans-serif;
$headline-font: 'Adamina', serif;

h1,h2,h3,h4,h5{
    font-family: $headline-font;

}
body{
    font-family:$main-font;
}