@import "color";
@import "font";
.overflow {
    overflow-x: hidden;
    min-height: calc(100vh - 100px);
  }
a,a:active,a:visited,a:hover{
    color: black;
    text-decoration: none;
}
a{
    cursor: pointer;
}
    .title {
        padding:30px 0;
        h2 {
            color: $secondary-color;
            text-align: center;
        }
        
        hr{
            width: 100px;
        }
    }
    .page-container{
        margin-top: 60px;
    }
    
   